h1{
    display: flex;
    color: lightpink;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: lightpink;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.2rem;
}

.links a{
    color: whitesmoke;
    text-decoration: none;
}

.links a:hover{
    color: lightpink;
    text-decoration: none;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.picture h1{
    color: pink;
    margin: 1rem 2rem 1rem 2rem;
}

.picture img{
    margin: 1rem 2rem 1rem 2rem;
    width: 25%;
    height: auto;
    border-radius: 1rem; 
}
=======
.picture h1{
=======
>>>>>>> 0dab1cd (Heading change)
    color: lightpink;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: lightpink;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.2rem;
}

.links a{
    color: whitesmoke;
    text-decoration: none;
}

.links a:hover{
    color: lightpink;
    text-decoration: none;
    background-color: lightpink;
    padding: 10px;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.picture h1{
    color: pink;
    margin: 1rem 2rem 1rem 2rem;
}

.picture img{
    margin: 1rem 2rem 1rem 2rem;
    width: 25%;
    height: auto;
    border-radius: 1rem; 
}
